<h4>Already registered?</h4>
        <%= render 'form' %>
    </div>
</div>
<div class="col-md-6">
    <div class="border-box">
        <h4>Create an account</h4>
        <p>Please enter your email address to create an account.</p>
        <%= render 'users/form', {user: User.new} %>
