<h1>HOMEPAGE</h1>

<h6>on this page:
<br>
- What are you happy about?
<br>
- form with 3 input fields and submit button
<br>
- Once you submit it takes you to show page.
<br>
- header up top (past happiness, settings, log out)
<br>
</h6>
