<div>
<div class="container center_div">  
<h1>What are you happy about?<h2>
<h5>You can put anything you like. Something big, something small.
Anything that made you smile :)</h5>

<div>
<form role="form">
  <div class="col-xs-6">

  <div class="form-group">
    <label for="memory1"></label>
    <input type="memory" class="form-control" placeholder=":)" id="memory1">
  </div>
  <div class="form-group">
    <label for="memory2"></label>
    <input type="memory" class="form-control" placeholder=":) :)" id="memory2">
  </div>
  <div class="form-group">
    <label for="memory3"></label>
    <input type="memory" class="form-control" placeholder=":) :) :)" id="memory3">
  </div>
  <!-- ORIGINAL BOOTSTRAP <button type="submit" class="btn btn-default">Submit</button> -->
  <a href=<%="#"%> class="btn btn-primary" role = "button">Get happy</a>
</form>
</div>
</div>
